<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link rel="stylesheet" href="../../Assets/CSS/index.css">
</head>
<body>
    
    <h1>OCURRIO UN ERROR</h1>
    
    
    <%= errorMessage %>
    

</body>
</html>